<div class="logo-container">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1300 1300">
  <defs>
    <style>
      .cls-1,.cls-3{fill:none;stroke:#61d1a3;stroke-miterlimit:10}.cls-1{stroke-width:13px}.cls-2{fill:#61d1a3}.cls-3{stroke-width:10px}
    </style>
  </defs>
  <g id="Capa_2" data-name="Capa 2">
    <path class="cls-1" d="M799.93 739.72a102.91 102.91 0 1 1-78.23-169.78M1032 464.5h83.85s46.5 35.83-22.87 65.56"/>
    <path class="cls-1" d="M1136.39 672.86l-69.21-144.34-29.12-60.73M1064.43 512.79H737.7"/>
    <path class="cls-2" d="M393.33 593.07Q425.6 625.35 425.6 671t-32.27 77.9q-32.28 32.28-77.9 32.27t-77.9-32.27q-32.27-32.3-32.27-77.9t32.27-77.9q32.27-32.27 77.9-32.27t77.9 32.24zm-77.9-19.93q-40.53 0-69.18 28.65T217.6 671q0 40.53 28.65 69.24t69.18 28.72q40.52 0 69.18-28.72T413.25 671q0-40.52-28.65-69.18t-69.17-28.67zM1208.23 597.91q31.43 31.43 31.43 75.87t-31.43 75.87q-31.43 31.43-75.87 31.43t-75.87-31.43q-31.43-31.43-31.43-75.87t31.43-75.87q31.43-31.43 75.87-31.43t75.87 31.43zm-75.87-19.41q-39.47 0-67.37 27.9t-27.9 67.37q0 39.47 27.9 67.44t67.37 28q39.47 0 67.37-28t27.9-67.44q0-39.47-27.9-67.37t-67.36-27.89zM454.08 563.89h13.29l110.31 191v-191h12.08v214.7h-12.09L466.15 585.76v192.83h-12.07zM863.69 684.89v93.71h-14.37V569.49h14.37v103.64h107V569.49H985v209.1h-14.32v-93.7zM76.21 707.41v74.48H64.13V567.18h56.36a71 71 0 0 1 41.73 20.53q20.53 20.53 20.53 49.52t-20.53 49.65q-20.53 20.53-49.52 20.53zm0-128V695.2h36.5a55.7 55.7 0 0 0 40.86-17 57.91 57.91 0 0 0 0-81.92 55.82 55.82 0 0 0-40.86-16.91z"/>
    <circle class="cls-3" cx="784" cy="779.16" r="17"/>
    <circle class="cls-3" cx="660" cy="779.16" r="17"/>
    <path class="cls-1" d="M766.5 554.66s-38 34-92 0"/>
  </g>
</svg>
</div>
