<div class="banner" style="background-image: linear-gradient(to top, rgba(65,67,69,0.48), rgba(65,67,69,0.48)), url('<%= cl_image_path("the-woman-box/banner_final.png")%>');">
  <div class="banner-content">
    <h1>lo esencial para el período en tu puerta</h1>
    <p>Recibe toallas o tampones de tu elección y regalos de temporada todos los meses</p>
    <%= link_to "ARMA TU BOX", plans_path, class: "button2 banner-call-to-actions" %>
  </div>
</div>
