.map-container {
  padding: 64px;
}
.map-title {
  font-size: 48px;
  color: $my-black;
}
.map-subtitle {
  font-size: 16px;
  color: $my-black;
}
.map-label-container {
  display: flex;
  justify-content: space-around;
  height: 64px;
  border: solid 1px #e5e5e5;
  border-radius: 4px;
}
@media (min-width: 992px) {
  .map-label-container {
    width: 34%;
  }
}
.map-label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 42%;
}
.color-indicator {
  height: 6px;
  width: 24px;
  border-radius: 10%;
}
.color-indicator-existentes {
  background-color: #8bcfa3;
}
.color-indicator-proyectadas {
  background-color: #999999;
  margin-right: 12px;
}
