.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 100;
  .nav-link {
    color: white !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}
.navbar-lewagon-white {
  background: white;
  .nav-link {
    color: $my-gray !important;
  }
  border-bottom: 2px solid #8bcfa3;
}
.nav-link:hover {
  opacity: 0.6
}
.navbar-toggler {
  border: none;
  background: white;
}
// .navbar-collapse.collapse.show {
//   background-color: white;
//   .nav-link{
//     color: $my-gray !important;
//   }
// }

@media (max-width: 575px) {
  .navbar-lewagon {
    background-color: white;
    .nav-link {
      color: $my-gray !important;
    }
    border-bottom: 2px solid #8bcfa3;
  }
}
